* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

html, body {
    height: 100%;
    background-color: var(--color-azul);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root{
    /* colores */
    --color-azul: #ACC4CD;
    --color-verde:#77DB77;
    --color-rosa:#FDCFDA;
    --color-amarillo:#FBFB94;

    /*  */
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-content: center;
    align-items: center; */
    background-color: var(--color-rosa);
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
}

.caja {
    background-color: var(--color-amarillo);
    display: flex;
    justify-content: center;
    width: 150px;
    height: 70px;
    border-radius: 10px;
    align-items: center;
    letter-spacing: 2px;
}

/* .caja a{
    text-align: center;
} */

.b {
    background-color: var(--color-verde);
}