body {
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 600px;
    margin: 20px auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
}

.fila {
    margin-bottom: 10px;
}

textarea {
    width: 250px;
    height: 80px;
}
